<!DOCTYPE html>
<html>

<head>
   <meta charset='utf-8'>
   <title>Page Title</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>

   <!-- #region libraries -->
   <!-- https://fomantic-ui.com/introduction/getting-started.html -->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

   <script src="https://unpkg.com/vue@2"></script>
   <!-- #endregion -->

   <script src='/eel.js'></script>
   <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   <script src='main.js'></script> -->

   <style>
      #app {
         /* padding: 12px; */
         height: 100%;
      }

      [v-cloak] {
         display: none;
      }

      .status {
         font-weight: normal;
      }

      #command_input-container,
      #command_input {
         font-family: monospace;
      }

      #console_out {
         height: 652px;
         overflow-x: auto;
         overflow-y: scroll;
      }

      #console_out pre {
         margin: 0;
      }

      #console_out code {
         white-space: pre;
      }
   </style>
</head>

<body>
   <div id="app" class="ui basic segment" v-cloak>
      <div class="ui grid">
         <div class="five wide column">
            <!-- top -->
            <h3>
               <i class="circular teal microchip icon"></i>
               <span>esp32-js.local</span>
               <span style="margin-left: 12px;"></span>
               <span class="ui text status" :class="[status_color]">
                  <i class="ui empty circular label" :class="[status_color]"></i>
                  {{status}}
               </span>
               <span style="margin-left: 12px;"></span>
               <span class="ui text status" :class="[status_color]" v-if="status_color != 'red'">
                  {{client.connection.ping}} ms
               </span>
            </h3>
         </div>
         <div class="six wide column"></div>
         <div class="five wide column"></div>
      </div> <!-- end grid -->
      <div class="ui divider"></div>
      <div class="ui grid" style="height: 788px">
         <div class="row">
            <div class="eight wide column">
               <!-- left bottom -->
               <h4 class="ui top attached header">Console</h4>
               <div id="console_out" class="ui bottom attached segment">
                  <template v-for="item in client.out">
                     <span class="ui text" :class="[colorByType(item.type)]"
                        :key="item.ind"><code>{{item.time}} {{item.type}} {{item.line}}</code></span>
                     <br :key="item.ind + '-br'">
                  </template>
               </div>
               <div id="command_input-container" class="ui fluid labeled input" v-pre>
                  <label for="command_input" class="ui label">&gt;</label>
                  <input type="text" id="command_input" autofocus>
               </div>
            </div>
            <div class="eight wide column">
               <!-- right bottom -->
            </div>
         </div>
      </div> <!-- end grid -->
   </div>
   <script>

      addEventListener('mouseup', function(e) {
         setTimeout(() => {
            let act = document.activeElement;
            if ((act == null || act == document.body)
               && window.getSelection().type != 'Range') {
               command_input.focus();
            }
         }, 1);
      });


      eel.expose(set_connection);
      function set_connection(connection) {
         app.client.connection = connection;
      }

      eel.expose(set_device);
      function set_device(device) {
         app.client.device = device;
      }

      eel.expose(append);
      function append(out_item, last_n) {
         if (last_n == 0) {
            app.client.out.push(out_item);
         } else {
            app.$set(app.client.out, app.client.out.length - last_n, out_item);
         }
      }

      console.log('eel expose setup finished');
      let app;

      (async function() {
         result_client = await eel.get_client()();
         console.log('client', result_client);
         app = new Vue({
            el: '#app',
            data: {
               client: result_client,
               auto_scroll: true,
            },
            computed: {
               status_color() {
                  let status = this.client.connection.status;
                  return ({
                     'offline': 'red',
                     'online': 'yellow',
                     'connected': 'green',
                  })[status] || '';
               },
               status() {
                  let status = this.client.connection.status;
                  return status[0].toUpperCase() + status.slice(1);
               }
            },
            methods: {
               colorByType(type) {
                  return ({
                     '>': 'black',
                     '$': 'blue',
                     '#': 'teal',
                  })[type] || '';
               },
            },
            mounted: function() {
               this.$watch('client.out', function() {
                  // auto scroll or not
                  if (this.auto_scroll) scroll_to_bottom();
               }, { deep: true })
            }
         });
         command_input_init()
         console_out.onscroll = function(e) {
            let end = this.scrollHeight - this.scrollTop === this.clientHeight;
            app.auto_scroll = end;
         };
         scroll_to_bottom();
      })();

      function scroll_to_bottom() {
         app.$nextTick(() => {
            console_out.scrollTop = console_out.scrollHeight;
         });
      }

      function command_input_init() {
         let hist = app.client.in;
         let ind = hist.length;

         eel.expose(set_hist);
         function set_hist(h) {
            console.log(h);
         }

         function add_hist(s) {
            if (s != hist[hist.length - 1]) {
               hist.push(s);
            }
            ind = hist.length;
         }

         function view_hist(increment) {
            ind += increment;
            if (ind < 0) ind = 0;
            if (ind > hist.length) ind = hist.length;
            command_input.value = hist[ind] || '';
            // let len = command_input.value.length;
            // command_input.setSelectionRange(len, len);
         }

         command_input.onkeydown = function(e) {
            let f = ({
               'Enter': () => {
                  let s = this.value;
                  this.value = '';
                  add_hist(s);
                  eel.send_line(s);
               },
               'Escape': () => {
                  this.value = '';
               },
               'ArrowUp': () => {
                  view_hist(-1);
                  e.preventDefault();
               },
               'ArrowDown': () => {
                  view_hist(1);
                  e.preventDefault();
               },
            })[e.key];
            if (f) f();
         };

         command_input.focus();
      }
   </script>
</body>

</html>