<!DOCTYPE html>
<html>

<head>
   <meta charset='utf-8'>
   <title>esp32-js.local</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>

   <!-- #region libraries -->
   <!-- https://fomantic-ui.com/introduction/getting-started.html -->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

   <script src="https://unpkg.com/vue@2"></script>
   <!-- #endregion -->

   <script src='/eel.js'></script>
   <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   <script src='main.js'></script> -->

   <style>
      #app {
         /* padding: 12px; */
         height: 100%;
      }

      [v-cloak] {
         display: none;
      }

      .status {
         font-weight: normal;
      }

      #command_input-container,
      #command_input {
         font-family: monospace;
      }

      #console_out {
         height: 652px;
         overflow-x: auto;
         overflow-y: scroll;
      }

      #console_out pre {
         margin: 0;
      }

      #console_out code {
         white-space: pre;
      }

      #console_out span {
         display: block;
         line-height: 1.4285em;
      }
   </style>
</head>

<body>
   <div id="app" class="ui basic segment">
      <div class="ui grid">
         <div class="five wide column">
            <!-- top -->
            <h3>
               <i class="circular teal microchip icon"></i>
               <span>esp32-js.local</span>
               <span style="margin-left: 12px;"></span>
               <span class="ui text status" :class="[status_color]" v-cloak>
                  <i class="ui empty circular label" :class="[status_color]"></i>
                  {{status}}
               </span>
               <span style="margin-left: 12px;"></span>
               <span class="ui text status" :class="[status_color]" v-if="status_color != 'red'" v-cloak>
                  {{client.connection.ping}} ms
               </span>
            </h3>
         </div>
         <div class="six wide column"></div>
         <div class="five wide column"></div>
      </div> <!-- end grid -->
      <div class="ui divider"></div>
      <div class="ui grid" style="height: 788px">
         <div class="row">
            <div class="nine wide column">
               <!-- left bottom -->
               <!-- in 1600x900 8:8 width = 766 -->
               <!-- in 1440x900 9:7 width = 775 -->
               <div class="ui top attached borderless menu">
                  <div class="header item">Console</div>
                  <div class="right menu">
                     <!-- <div class="item">
                        <div class="ui checkbox">
                           <input type="checkbox" name="example">
                           <label>Make my profile visible</label>
                        </div>
                     </div> -->
                  </div>
               </div>
               <div id="console_out" class="ui bottom attached segment" v-pre>
                  <!-- <span v-for="item in client.out" class="ui text" :class="[colorByType(item.type)]" :key="item.ind">
                     <code>{{item.time}} {{item.type}} {{item.line}}</code>
                  </span> -->
               </div>
               <div id="command_input-container" class="ui fluid labeled input">
                  <label for="command_input" class="ui label">&gt;</label>
                  <input type="text" id="command_input" autofocus>
               </div>
            </div>
            <div class="seven wide column">
               <!-- right bottom -->
            </div>
         </div>
      </div> <!-- end grid -->
   </div>
   <script>
      let console_out;
      let command_input;

      addEventListener('mouseup', function(e) {
         setTimeout(() => {
            let act = document.activeElement;
            if ((act == null || act == document.body)
               && window.getSelection().type != 'Range') {
               command_input.focus();
            }
         }, 1);
      });


      eel.expose(set_connection);
      function set_connection(connection) {
         app.client.connection = connection;
      }

      eel.expose(set_device);
      function set_device(device) {
         app.client.device = device;
      }

      eel.expose(append);
      function append(out_item, last_n) {
         if (last_n == 0) {
            client_out.push(out_item);
         } else {
            client_out[client_out.length - last_n] = out_item;
         }
         update_console_dom(last_n)
      }

      function toTextContent(item) {
         return `${item.time} ${item.type} ${item.line}`;
      }

      function update_console_dom(last_n) {
         let ind = client_out.length - last_n;
         // let children = console_out.children;
         let fragment = document.createDocumentFragment();
         for (let i = console_out.childElementCount; i < client_out.length; i++) {
            let item = client_out[i];
            let span = document.createElement('span');
            span.classList.add('ui');
            span.classList.add(colorByType(item.type));
            span.classList.add('text');
            let code = document.createElement('code');
            code.textContent = toTextContent(item);
            span.appendChild(code)
            fragment.appendChild(span);
         }
         console_out.appendChild(fragment);
         if (last_n != 0) {
            // change text at ind
            console_out.children[ind].firstElementChild.textContent = toTextContent(client_out[ind]);
         }
         if (app.auto_scroll) {
            scroll_to_bottom();
         }
      }

      console.log('eel expose setup finished');
      let app;
      let client_out = [];
      let client_in = [];

      function colorByType(type) {
         return ({
            '>': 'black',
            '$': 'blue',
            '#': 'teal',
         })[type] || '';
      }

      (async function() {
         result_client = await eel.get_client()();
         console.log('client', result_client);
         client_out = result_client.out;
         client_in = result_client.in;
         delete result_client.out;
         delete result_client.in;
         app = new Vue({
            el: '#app',
            data: {
               client: result_client,
               auto_scroll: true,
            },
            computed: {
               status_color() {
                  let status = this.client.connection.status;
                  return ({
                     'offline': 'red',
                     'online': 'yellow',
                     'connected': 'green',
                  })[status] || '';
               },
               status() {
                  let status = this.client.connection.status;
                  return status[0].toUpperCase() + status.slice(1);
               }
            },
            methods: {
            },
            mounted: function() {
               setTimeout(() => update_console_dom(0), 1);
            }
         });

         console_out = document.getElementById('console_out');
         command_input = document.getElementById('command_input');

         command_input_init()
         console_out.onscroll = function(e) {
            let end = this.scrollHeight - this.scrollTop === this.clientHeight;
            app.auto_scroll = end;
         };
         update_console_dom(0);
      })();

      function scroll_to_bottom() {
         console_out.scrollTop = console_out.scrollHeight;
      }

      function command_input_init() {
         let hist = client_in;
         let ind = hist.length;

         eel.expose(set_hist);
         function set_hist(h) {
            console.log(h);
         }

         function add_hist(s) {
            if (s.length > 0 && s != hist[hist.length - 1]) {
               hist.push(s);
            }
            ind = hist.length;
         }

         function view_hist(increment) {
            ind += increment;
            if (ind < 0) ind = 0;
            if (ind > hist.length) ind = hist.length;
            command_input.value = hist[ind] || '';
            // let len = command_input.value.length;
            // command_input.setSelectionRange(len, len);
         }

         command_input.onkeydown = function(e) {
            let f = ({
               'Enter': () => {
                  let s = this.value;
                  this.value = '';
                  add_hist(s);
                  eel.send_line(s);
               },
               'Escape': () => {
                  this.value = '';
               },
               'ArrowUp': () => {
                  view_hist(-1);
                  e.preventDefault();
               },
               'ArrowDown': () => {
                  view_hist(1);
                  e.preventDefault();
               },
            })[e.key];
            if (f) f();
         };

         command_input.focus();
      }
   </script>
</body>

</html>